body {
  font-size: 16px;
}

#main {
  margin: 3rem 10rem 5rem 10rem;
}

#title, #learn, h3 {
  text-align: center;
}

h4 {
  margin-left:1.2rem;
}

#image {
  max-width: 40%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption {margin: 2rem;}

.cube {
  width: 25%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#title-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-gap: 5rem;
}

#card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5rem;
}

.card {
  border: 0.1rem solid black;
  margin-top: 2rem;
  padding-bottom:2rem;
  border-radius: 2rem;
}

.card-body {
  margin: 1.2rem;
  text-align: justify;
}

@media (max-width: 992px) {
  body {
    font-size: 0.9rem;
  }

  #card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
  }

  #main {
    margin: 2.5rem 7rem 7rem 7rem;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  #card-container {
    grid-gap: 0.5rem;
  }
  
  #main {
    margin: 2rem 4rem 4rem 4rem;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 0.7rem;
  }

  #card-container {
    grid-gap: 0.1rem;
  }
  
  #main {
    margin: 1rem;
  }
}